*{
    box-sizing: border-box
}

.container{
    background-color: antiquewhite;
    /* width: 50vh;
    height: 50vh; */
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.item-1{
    height: 50px;
    width: 50px;
    background-color: red;
    order: 1;
}

.item-2{
    height: 50px;
    width: 50px;
    background-color: green;
}
.item-3{
    height: 50px;
    width: 50px;
    background-color: yellowgreen;
}
.item-4{
    height: 50px;
    width: 50px;
    background-color:cadetblue;
}
.item-5{
    height: 50px;
    width: 50px;
    background-color:brown;
    order: 1;
}
.item-6{
    height: 50px;
    width: 50px;
    background-color:chocolate;
    order: 2;
}
.item-7{
    height: 50px;
    width: 50px;
    background-color:teal;
    order: 3;
}
.item-8{
    height: 50px;
    width: 50px;
    background-color:yellowgreen;
    order: 4;
    flex-shrink: 4;
}