<<<<<<< HEAD
*{
    box-sizing: border-box
}

.container{
    background-color: antiquewhite;
    /* width: 50vh;
    height: 50vh; */
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.item-1{
    height: 50px;
    width: 50px;
    background-color: red;
}

.item-2{
    height: 50px;
    width: 50px;
    background-color: green;
}
.item-3{
    height: 50px;
    width: 50px;
    background-color: yellowgreen;
}
.item-4{
    height: 50px;
    width: 50px;
    background-color:cadetblue;
}
.item-5{
    height: 50px;
    width: 50px;
    background-color:brown;
}
.item-6{
    height: 50px;
    width: 50px;
    background-color:chocolate;
}
.item-7{
    height: 50px;
    width: 50px;
    background-color:teal;
}
.item-8{
    height: 50px;
    width: 50px;
    background-color:yellowgreen;
=======
* {
    box-sizing: border-box;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
header {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
}

.navbar > div {
    /* margin-right: 10px; */
}

.container{
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    /* margin-top: 40px;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 50px;
    height: 50px;
    /* flex-grow: 1; */
    /* flex-basis: 100px; */
}

.item-1 {
    background-color: blue;
}

.item-2 {
    background-color: red;
    align-self: flex-end;
}

.item-3 {
    background-color: green;
    /* flex-grow: 2; */
    /* flex: 1 1 100px; */
}

.item-4 {
    background-color: black;
    color: white;
    /* order: 2; */
}

.item-5 {
    background-color: rgb(242, 0, 255);
    /* order: 3 */
}

.item-6 {
    background-color: rgb(67, 125, 49);
    align-self: flex-start;
    /* order: -1; */
}

.item-7 {
    background-color: rgb(196, 69, 76);
}

.item-8 {
    background-color: rgb(108, 29, 132);
    color: white;
>>>>>>> 418ec2207583f0e95c09dede013ba655492415f8
}